<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./add' ]" class="button1">
        <ion-icon name="duplicate-outline"></ion-icon>
        Añadir
      </ion-button>
    </ion-buttons>
    <ion-title>
      CATÁLOGO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card">
  <div id="container">
    <ion-card *ngFor="let product of products">
      <img src="assets/img/home.png" height="150" width="200" />
      <ion-card-content>
        <ion-card-title>
          {{ product.nombre}}
        </ion-card-title>
        Código: {{ product.codigo }}
        <br>
        <div *ngFor="let proveedor of product.proveedor">
          <p>Proveedor: {{ proveedor.nombre }}</p>
        </div>
      </ion-card-content>
      <ion-button [routerLink]="['./', product.codigo]" class="button2">
        <ion-icon name="eye-outline"></ion-icon>
        Ver más
      </ion-button>
      <ion-button outline (click)="update(product.codigo)"  class="button3">
        <ion-icon name="create-outline"></ion-icon>
        Editar
      </ion-button>
    </ion-card>
  </div>
</ion-content>