//products style

ion-title{
    text-align: center;
    color: #cb997e;
    font-size: 26px;
}

.card{
    text-align: center;
    border-style: solid;
    color:  #cb997e;  
}

.button1{
    --color: #7d3007;
}

.button2{
    --background: #7d3007;
}

.button3{
    --background: #d1ac99;
}